In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [42]:
data_train=pd.read_csv("data/train.csv")
data_test=pd.read_csv("data/test.csv")

In [43]:
data_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [44]:
data_train.drop(columns={"Unnamed: 0","id"},axis=1,inplace=True)
data_test.drop(columns={"Unnamed: 0","id"},axis=1,inplace=True)

In [45]:
data_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [46]:
x_train=data_train.drop(columns="satisfaction",axis=1)
y_train=data_train["satisfaction"]
x_test=data_test.drop(columns="satisfaction",axis=1)
y_test=data_test["satisfaction"]

In [47]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             103904 non-null  object
 1   Customer Type                      103904 non-null  object
 2   Age                                103904 non-null  int64
 3   Type of Travel                     103904 non-null  object
 4   Class                              103904 non-null  object
 5   Flight Distance                    103904 non-null  int64
 6   Inflight wifi service              103904 non-null  int64
 7   Departure/Arrival time convenient  103904 non-null  int64
 8   Ease of Online booking             103904 non-null  int64
 9   Gate location                      103904 non-null  int64
 10  Food and drink                     103904 non-null  int64
 11  Online boarding                    103904 non-null  int64
 12  Seat comfort                       103904 non-null  int64
 13  Inflight entertainment             103904 non-null  int64
 14  On-board service                   103904 non-null  int64
 15  Leg room service                   103904 non-null  int64
 16  Baggage handling                   103904 non-null  int64
 17  Checkin service                    103904 non-null  int64
 18  Inflight service                   103904 non-null  int64
 19  Cleanliness                        103904 non-null  int64
 20  Departure Delay in Minutes         103904 non-null  int64
 21  Arrival Delay in Minutes           103594 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 17.4+ MB

In [48]:
x_train.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='object')

In [49]:
x_train.dtypes

Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
dtype: object

In [50]:
x_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,18.0
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,1,5,3,1,4,1,1,6.0
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,2,5,3,1,4,2,11,9.0
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [51]:
temp=x_train.nunique().values ==2
x_train.columns[temp]

temp2=x_test.nunique().values ==2
x_test.columns[temp]

Index(['Gender', 'Customer Type', 'Type of Travel'], dtype='object')

In [52]:
x_train=pd.get_dummies(x_train,columns=x_train.columns[temp],drop_first=True)

In [53]:
x_test=pd.get_dummies(x_test,columns=x_test.columns[temp2],drop_first=True)

In [54]:
x_train.head()

,Age,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel
0,13,Eco Plus,460,3,4,3,1,5,3,5,...,3,4,4,5,5,25,18.0,True,False,True
1,25,Business,235,3,2,3,3,1,3,1,...,5,3,1,4,1,1,6.0,True,True,False
2,26,Business,1142,2,2,2,2,5,5,5,...,3,4,4,4,5,0,0.0,False,False,False
3,25,Business,562,2,5,5,5,2,2,2,...,5,3,1,4,2,11,9.0,False,False,False
4,61,Business,214,3,3,3,3,4,5,5,...,4,4,3,3,3,0,0.0,True,False,False

In [55]:
x_train.columns

Index(['Age', 'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Gender_Male', 'Customer Type_disloyal Customer',
       'Type of Travel_Personal Travel'],
      dtype='object')

In [56]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Age                                103904 non-null  int64
 1   Class                              103904 non-null  object
 2   Flight Distance                    103904 non-null  int64
 3   Inflight wifi service              103904 non-null  int64
 4   Departure/Arrival time convenient  103904 non-null  int64
 5   Ease of Online booking             103904 non-null  int64
 6   Gate location                      103904 non-null  int64
 7   Food and drink                     103904 non-null  int64
 8   Online boarding                    103904 non-null  int64
 9   Seat comfort                       103904 non-null  int64
 10  Inflight entertainment             103904 non-null  int64
 11  On-board service                   103904 non-null  int64
 12  Leg room service                   103904 non-null  int64
 13  Baggage handling                   103904 non-null  int64
 14  Checkin service                    103904 non-null  int64
 15  Inflight service                   103904 non-null  int64
 16  Cleanliness                        103904 non-null  int64
 17  Departure Delay in Minutes         103904 non-null  int64
 18  Arrival Delay in Minutes           103594 non-null  float64
 19  Gender_Male                        103904 non-null  bool
 20  Customer Type_disloyal Customer    103904 non-null  bool
 21  Type of Travel_Personal Travel     103904 non-null  bool
dtypes: bool(3), float64(1), int64(17), object(1)
memory usage: 15.4+ MB

In [57]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                25976 non-null  int64
 1   Class                              25976 non-null  object
 2   Flight Distance                    25976 non-null  int64
 3   Inflight wifi service              25976 non-null  int64
 4   Departure/Arrival time convenient  25976 non-null  int64
 5   Ease of Online booking             25976 non-null  int64
 6   Gate location                      25976 non-null  int64
 7   Food and drink                     25976 non-null  int64
 8   Online boarding                    25976 non-null  int64
 9   Seat comfort                       25976 non-null  int64
 10  Inflight entertainment             25976 non-null  int64
 11  On-board service                   25976 non-null  int64
 12  Leg room service                   25976 non-null  int64
 13  Baggage handling                   25976 non-null  int64
 14  Checkin service                    25976 non-null  int64
 15  Inflight service                   25976 non-null  int64
 16  Cleanliness                        25976 non-null  int64
 17  Departure Delay in Minutes         25976 non-null  int64
 18  Arrival Delay in Minutes           25893 non-null  float64
 19  Gender_Male                        25976 non-null  bool
 20  Customer Type_disloyal Customer    25976 non-null  bool
 21  Type of Travel_Personal Travel     25976 non-null  bool
dtypes: bool(3), float64(1), int64(17), object(1)
memory usage: 3.8+ MB

In [58]:
x_test.shape

(25976, 22)

In [59]:
x_train.shape

(103904, 22)

In [60]:
x_train.dtypes

Age                                    int64
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
Gender_Male                             bool
Customer Type_disloyal Customer         bool
Type of Travel_Personal Travel          bool
dtype: object

In [61]:
x_test=pd.get_dummies(x_test,columns=["Class"])
x_train=pd.get_dummies(x_train,columns=["Class"])

In [62]:
x_train.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,13,460,3,4,3,1,5,3,5,5,...,5,5,25,18.0,True,False,True,False,False,True
1,25,235,3,2,3,3,1,3,1,1,...,4,1,1,6.0,True,True,False,True,False,False
2,26,1142,2,2,2,2,5,5,5,5,...,4,5,0,0.0,False,False,False,True,False,False
3,25,562,2,5,5,5,2,2,2,2,...,4,2,11,9.0,False,False,False,True,False,False
4,61,214,3,3,3,3,4,5,5,3,...,3,3,0,0.0,True,False,False,True,False,False

In [63]:
x_train.dtypes

Age                                    int64
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
Gender_Male                             bool
Customer Type_disloyal Customer         bool
Type of Travel_Personal Travel          bool
Class_Business                          bool
Class_Eco                               bool
Class_Eco Plus                          bool
dtype: object

In [64]:
x_train.dtypes

Age                                    int64
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
Gender_Male                             bool
Customer Type_disloyal Customer         bool
Type of Travel_Personal Travel          bool
Class_Business                          bool
Class_Eco                               bool
Class_Eco Plus                          bool
dtype: object

In [72]:
x_train.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,13,460,3,4,3,1,5,3,5,5,...,5,5,25,18.0,True,False,True,False,False,True
1,25,235,3,2,3,3,1,3,1,1,...,4,1,1,6.0,True,True,False,True,False,False
2,26,1142,2,2,2,2,5,5,5,5,...,4,5,0,0.0,False,False,False,True,False,False
3,25,562,2,5,5,5,2,2,2,2,...,4,2,11,9.0,False,False,False,True,False,False
4,61,214,3,3,3,3,4,5,5,3,...,3,3,0,0.0,True,False,False,True,False,False